{% extends 'base.html' %}

{% block content %}

    <div class="accountDetail nanum_myeongjo">
        <p>
            Joined at {{ current_user.date_joined }}
        </p>

        {% if current_user.profile and current_user == user %}
        <h2 class="mb-4">
            Hello, {{ current_user.profile.nickname }} !!!
        </h2>
        {% if current_user.profile.image %}
        <img class="profileImg mb-3" src="{{ current_user.profile.image.url }}">
        {% endif %}
        {% if current_user.profile.intro_msg %}
        <p class="mb-4"> {{ current_user.profile.intro_msg }} </p>
        {% endif %}
        <a class="mypageBtn mb-4" href="{% url 'profileapp:update' pk=current_user.profile.pk %}">
                Modify Profile
        </a>
        {% else %}
        <a class="mypageBtn mb-4" href="{% url 'profileapp:createProfile' %}">
                Create Profile
        </a>
        {% endif %}

        {% if current_user == user %}
        <a class="mypageBtn mb-4" href="{% url 'accountapp:update' pk=current_user.pk %}">
                Modify Account Info
        </a>
        <a class="mypageBtn mb-4" href="{% url 'accountapp:delete' pk=current_user.pk %}">
                Delete Account
        </a>
        {% endif %}
    </div>

    <div>

        {% include 'snippets/list_fragment.html' with article_list=object_list %}

    </div>

{% endblock %}
