{% extends 'base.html' %}

{% block content %}

    <div class="nanum_myeongjo creationForm_content">
        <h1> main page! </h1>

<!--        <form action="/account/helloWorld/" method="post"> &lt;!&ndash; action: 요청을 보낼 url &ndash;&gt;-->
<!--        &lt;!&ndash; 장고에서 post method로 요청을 보낼 때: 반드시 CSRF 토큰을 form에 명시해야 함 &ndash;&gt;-->
<!--            {% csrf_token %} &lt;!&ndash; CSRF 토큰: 장고에서 제공하는 보안 기능 중 하나 &ndash;&gt;-->
<!--            <div class="mb-3">-->
<!--                <label class="userInfoLabel" for="userNameInput">Name</label>-->
<!--                <input class="w-25" id="userNameInput" type="text" name="userName">-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <label class="userInfoLabel" for="userIDInput">ID</label>-->
<!--                <input class="w-25" id="userIDInput" type="text" name="userID">-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <label class="userInfoLabel" for="passwordInput">Password</label>-->
<!--                <input class="w-25" id="passwordInput" type="password" name="password">-->
<!--            </div>-->
<!--            <div>-->
<!--                <input class="btn btn-primary userInfoSubmit" type="submit" value="Submit">-->
<!--            </div>-->
<!--        </form>-->

<!--        {% if userInfo %}-->
<!--        <h2>latest input</h2>-->
<!--        <h3> userName: {{ userInfo.userName }} </h3>-->
<!--        <h3> userID: {{ userInfo.userID }} </h3>-->
<!--        {% endif %}-->

<!--        {% if usersInfo %}-->
<!--        <h2>data from database</h2>-->
<!--        {% for user in usersInfo %}-->
<!--        <h3>userName: {{ user.userName }}, userID: {{ user.userID }}</h3>-->
<!--        {% endfor %}-->
<!--        {% endif %}-->

    </div>

{% endblock %}

