{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}

    <div class="nanum_myeongjo accountapp_content createAccountForm">
        <div class="mb-3">
            <h3>Modify Account Info</h3>
        </div>
        <form action="{% url 'accountapp:update' pk=user.pk %}" method="post">
            {% csrf_token %}
<!--            {{ form }}-->
            {% bootstrap_form form %}
            <input class="btn btn-outline-dark rounded-pill col-4 mt-3" type="submit" >
        </form>
    </div>

{% endblock %}