{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}

    <div class="nanum_myeongjo accountapp_content createAccountForm">
        <div class="mb-5">
            <h3>Modify Account Info</h3>
        </div>
        <form action="{% url 'accountapp:update' pk=current_user.pk %}" method="post">
            {% csrf_token %}
<!--            {{ form }}-->
<!--            {% bootstrap_form form %}-->
            {% bootstrap_form form form_group_class='mb-5' size='small' %}
            <input class="btn btn-outline-dark rounded-pill col-4 mt-2" type="submit" >
        </form>
    </div>

{% endblock %}