{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}

    <div class="nanum_myeongjo accountapp_content createAccountForm">
        <div class="mb-5">
            <h3>Add a Comment</h3>
        </div>
        <form class="createForm" action="{% url 'commentapp:create' %}" method="post">
            {% csrf_token %}
<!--            {{ form }}-->
<!--            {% bootstrap_form form %}-->
            {% bootstrap_form form form_group_class='mb-5' size='small' %}
            <input class="btn btn-outline-dark rounded-pill col-4 mt-2" type="submit" >
        </form>
    </div>

{% endblock %}

