{% extends 'base.html' %}

{% load bootstrap5 %}

{% load static %}

{% block content %}

        <div class="nanum_myeongjo creationForm_content creationForm">
        <div class="mb-5">
            <h3>Create Project</h3>
        </div>

        <form class="createForm" action="{% url 'projectapp:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

<!--            부트스트랩 form 적용 가능하다!!!-->
            {% bootstrap_form form form_group_class='mb-5' size='small'  %}

            <input class="btn btn-outline-dark rounded-pill col-4 mt-4" type="submit" >
        </form>
    </div>

{% endblock %}