{% extends 'base.html' %}

{% load static %}

{% block content %}


{% if project_list %}
<div class="container">
    {% for project in project_list %}
    <div class="card_div">
        <a href="{% url 'projectapp:detail' pk=project.pk %}">
                {% include 'snippets/card_project.html' with project=project %}
        </a>
    </div>
    {% endfor %}
</div>
<script src="{% static 'js/magicgrid.js' %}"></script>

{% include 'snippets/pagination.html' with page_obj=page_obj %}

{% else %}
<div class="container">
    <h1>No projects yet.</h1>
</div>
{% endif %}


{% endblock %}