.raleway {
    font-family: 'Raleway', sans-serif;
}

.header_container {
    text-align:center;
    margin:2rem 0;
}

.footer_container {
    text-align:center;
    margin-top:2rem;
}

.header_menu {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*
.header_menu {
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .header_menu {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
*/

.header_menu > * {
    padding: 0 0.6rem;
}

.footer_menu {
    font-size:.8rem
}

.footer_title {
    margin-top: 1rem;
}

.creationForm_content {
    /* height:20rem; */
    height: auto;
    margin:2rem;
    text-align:center;
}

.nanum_myeongjo {
    font-family: 'Nanum Myeongjo', serif;
}

.userInfoLabel {
    width:7%;
}

.loginForm, .accountDetail, .creationForm {
    margin: 2rem auto;
    width: 80%;
    max-width: 600px;
    text-align:center;
}


.profileImg {
    max-width: 30%;
    height: auto;
    border-radius: 10rem;
    object-fit: cover;
}

a:link , a:visited{
    color: black;
    text-decoration: none;
}

a:hover, button:hover {
    color: #7878AA;
}

#page_title:hover, #page_title:visited, #page_title:link {
    color: black;
    text-decoration: none;
}

.mypageBtn, .myarticleBtn {
    display: block;
    border: solid black 2px;
    width: 60%;
    max-width: 200px;
    height: 3rem;
    line-height: 200%;
    text-align: center;
    border-radius: 5rem;
    /* margin-left: 180px; */
    margin: auto;
    padding: 5px;
    background: transparent;
}

.subscribeBtn {
    display: block;
    border: solid black 2px;
    width: 60%;
    max-width: 200px;
    height: 3rem;
    line-height: 200%;
    text-align: center;
    border-radius: 1rem;
    /* margin-left: 180px; */
    margin: auto;
    padding: 5px;
    background: pink;
}

.cancelSubscribeBtn {
    display: block;
    border: solid black 2px;
    width: 60%;
    max-width: 200px;
    height: 3rem;
    line-height: 200%;
    text-align: center;
    border-radius: 1rem;
    /* margin-left: 180px; */
    margin: auto;
    padding: 5px;
    background: skyblue;
}

.categoryBtn {
    display: block;
    border: solid black 2px;
    width: 30%;
    max-width: 200px;
    height: 3rem;
    line-height: 200%;
    text-align: center;
    border-radius: 5rem;
    /* margin-left: 180px; */
    margin: auto;
    padding: 5px;
    background: black;
    color: white;
}

.categoryBtn:hover {
    color: #7878AA;
}

.btn_container {
    text-align: center;
}

.container {
    /*width: 90%;*/
    padding: 0;
    margin: 0 auto;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site_category_container {
    width: 85%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.site_category_container h3 {
    flex-basis: 100%;
    background-color: rgba(120, 120, 120, 0.2);
    height: 3rem;
    line-height: 3rem;
    padding-left: 2.5rem;
    font-weight: 700;
}

.site_category_card, .place_card {
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.card_div {
  width: 30%;
  max-width: 250px;
  border-radius: 15px;
    margin: auto 0;
    text-align: center;
    display: block;
}

.card_div_img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
}


.category_card_img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 15px;
  margin: 0 10px;
}

.list_img {
    width: 100%;
    border-radius: 15px;
}

.carousel-item {
    height: 40%;
    max-height: 60vh;
    text-align: center;
}

.article_img {
    width: 50%;
    height: auto;
    verticle-align: middle;
}

#articleImgCarousel {
    width: 90%;
    max-width: 900px;
    text-align: center;
    margin: auto;
}

.article_container {
    padding: 1rem;
    width: 90%;
    max-width: 1000px;
    /* border: red solid 3px; */
    /* display: grid; */
    border-radius: 30px;
    background-color: #FEFEE9;
    margin: auto;
    text-align: center;
}

.article_title {
    margin-bottom: 1rem;
}

.article_writer {
    margin-left: 60%;
}

.comment_delete_confirm_btn {
    display: inline-block;
    border: solid black 2px;
    width: 60%;
    max-width: 150px;
    text-align: center;
    border-radius: 5rem;
    margin: auto;
    padding: 5px;
    background-color: transparent;
}

.pagination_container {
    text-align: center;
    margin: 1rem 0;
}

.createProfileText {
    font-weight: 700;
    text-decoration: underline;
}

.comment_container {
    text-align: left;
    margin-left: 2rem;
}

.comment_profile_img {
    width: 5%;
    height: 5%;
    border-radius: 30rem;
}

.comment_dttm {
    color: darkgray;
    font-size: 0.8rem;
    margin-left: 0.8rem;
}

.comment_content {
    font-size: 1.3rem;
}


.comment_delete_btn {
    background-color: transparent;
    background-image: url("./dustbin.png");
    background-size: cover;
    width: 0.8rem;
    height: 0.8rem;
    border: none;
}

.comment_delete_btn2 {
    background-color: transparent;
    width: 0.8rem;
    height: 0.8rem;
    border: none;
}

.comment_delete_img {
    width: 0.8rem;
    height: 0.8rem;
}

.comment_del_confirm {
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 500px) {
    html{
        font-size: 13px;
    }
}


.category_detail_img {
    width: 14rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 15px;
    margin: 0 auto;
}

.category_detail_img_container {
    text-align: center;
}

.categoryContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: solid lightgray 1px;
    border-radius: 7px;
}

.innerCategoryContainer {
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 250px;

}

.innerCategoryContainer p {
    background-color: rgba(120, 120, 120, 0.2);
    padding: 5px 5px;
}

#placeAddressContainer {
    font-size: small;
    text-align: center;
    dixplay: flex;
    flex-wrap: wrap;
    justify: center;
}

#placeAddressContainer input {
    text-align: left;
}

#placeAddressContainer button {
    border: none;
    background-color: rgba(120, 120, 120, 0.2);
}

.searchContainer {
    display: flex;
    justify-content: center;
}

.searchContainer :nth-child(1) {
    width: 17rem;
    margin-right: 1rem;
}

#searchContainerBtn {
    border: none;
    background-color: rgba(120, 120, 120, 0.2);
    height: 2rem;
}

.imageContainer {
    margin: 0 auto;
    text-align: center;
}


