.raleway {
    font-family: 'Raleway', sans-serif;
}

.header_container {
    text-align:center;
    margin:2rem 0;
}

.footer_container {
    text-align:center;
    margin-top:2rem;
}

.header_menu {
    font-size:1.2rem;
}

.footer_menu {
    font-size:.8rem
}

.footer_title {
    margin-top:15px;
}

.accountapp_content, .profileapp_content {
    /* height:20rem; */
    height: auto;
    margin:2rem;
    text-align:center;
}

.nanum_myeongjo {
    font-family: 'Nanum Myeongjo', serif;
}

.userInfoSubmit {
    margin-top:10px;
}

.userInfoLabel {
    width:7%;
}

.loginForm, .createAccountForm, .accountDetail, .createProfileForm {
    margin: 30px auto;
    max-width:40%;
    text-align:center;
}

.profileImg {
    max-width: 30%;
    height: auto;
    border-radius: 10rem;
}

a:link , a:visited{
    color: black;
    text-decoration: none;
}

a:hover {
    color: #7878AA;
}

.mypageBtn {
    display: block;
    border: solid black 2px;
    width: 40%;
    text-align: center;
    border-radius: 5rem;
    margin-left: 180px;
}
