{% extends 'base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block content %}

<div class="nanum_myeongjo creationForm_content creationForm">
    <div class="mb-5">
        <h3>🗺️ Add Your Place</h3>
    </div>
    <form class="createForm placeForm" action="{% url 'placeapp:create' %}" method="post">
        {% csrf_token %}

        {% bootstrap_form form form_group_class='mb-5' size='small' %}

        <p>Address</p>
        <div id="place_address_container" class="mb-5">
            <input type="text" id="mainAddress" name="mainAddress" placeholder="Address" style="width: 70%;" class="mb-2"
            readonly>
            <button type="button" onclick="execDaumPostcode()" style="width: 20%;" class="mb-2">Search Address</button><br>
            <input type="text" id="detailAddress" name="detailAddress" placeholder="Detail Address" style="width: 70%;">
            <input type="text" id="extraAddress" name="extraAddress" placeholder="Extra Address" style="width: 20%;">
        </div>

        <p class="mb-2">Select Categories</p>
        <div class="categoryContainer mb-3">
            {% for parent in parent_categories %}
            <div class="innerCategoryContainer mb-2 mt-2">
                <p class="mb-2">{{ parent.name }}</p>
                {% for child in parent.childcategory.all %}
                    <div class="mb-2">
                        <input id="{{ child.name }}" type="checkbox" name="selectedCategories" value="{{ child.name }}">
                        <label for="{{ child.name }}">{{ child.name }}</label>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <input class="btn btn-outline-dark rounded-pill col-4 mt-2" type="submit" >
    </form>
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("extraAddress").value = extraAddr;

                } else {
                    document.getElementById("extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById("mainAddress").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }
</script>

{% endblock %}