{% extends 'base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block content %}



<div class="article_container mt-3 nanum_myeongjo">
    <h2 class="article_title"> {{ current_article.title }} </h2>

    <h4 class="mb-3 article_writer"> {{ current_article.writer.profile.nickname }} </h4>

    <hr>

    <div class="imageContainer"><img class="article_img" src="{{ current_article.image.url }}" alt=""></div>

    <p> {{ current_article.content }} </p>

    <p> {{ current_article.created_time }} </p>

    {% if current_article.writer == user %}
    <a class="myarticleBtn mb-4 mt-4" href="{% url 'articleapp:update' pk=current_article.pk %}">
        <p class="myarticleBtnText">Modify</p>
    </a>

    <button id="articleDelBtn" class="myarticleBtn mb-4 mt-4" data-bs-toggle="modal" data-bs-target="#article_delete_modal"
        value="{{ current_article.pk }}" onclick="sendArticlePk(this.value)">
        Delete
    </button>

    {% include 'articleapp/delete.html' with article=current_article %}

    {% endif %}

    <hr>

    {% include 'commentapp/create.html' with article=current_article %}

    <hr>

    {% for comment in current_article.comment.all %}
        {% include 'commentapp/detail.html' with comment=comment %}
    {% endfor %}


</div>

    <a class="myarticleBtn mb-4 mt-4" href="{% url 'articleapp:list' %}">
        <span>Article List</span>
    </a>



{% endblock %}