{% extends 'base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block content %}

{% if current_article.image.all|length >= 1 %}
<div id="carouselContainer">
    <div id="articleImgCarousel" class="carousel carousel-dark slide">
        {% for cur in current_article.image.all %}
        <div class="carousel-inner">
            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                <img src="{{ cur.image.url }}" class="article_img" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#articleImgCarousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#articleImgCarousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="article_container mt-5">
    <h1 class="article_title"> {{ current_article.title }} </h1>

    <h4 class="mb-3 article_writer"> {{ current_article.writer.profile.nickname }} </h4>

    <hr>

    <h4 class="mb-4"> 🚀 {{ current_article.place_name }} </h4>

    <p> {{ current_article.address }} </p>

    <p> {{ current_article.content }} </p>

    <p> {{ current_article.created_time }} </p>

    {% if current_article.writer == user %}
    <a class="myarticleBtn mb-4 mt-4" href="{% url 'articleapp:update' pk=current_article.pk %}">
        <p class="myarticleBtnText">Modify</p>
    </a>
    <a class="myarticleBtn mb-4 mt-4" href="{% url 'articleapp:delete' pk=current_article.pk %}">
        <p class="myarticleBtnText">Delete</p>
    </a>
    {% endif %}

    <hr>

    {% include 'commentapp/create.html' with article=current_article %}

    <hr>

    {% for comment in current_article.comment.all %}
        {% include 'commentapp/detail.html' with comment=comment %}
    {% endfor %}


</div>
<div class="btn_container mt-3">
    <a class="myarticleBtn mb-4 mt-4" href="{% url 'articleapp:list' %}">
        <p class="myarticleBtnText">Article List</p>
    </a>
</div>


{% endblock %}