{% extends 'base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block content %}

{% if current_article.image.all|length >= 1 %}
<div id="carouselContainer">
    <div id="articleImgCarousel" class="carousel slide" data-bs-ride="carousel">
        {% for cur in current_article.image.all %}
        <div class="carousel-inner">
            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                <img src="{{ cur.image.url }}" class="article_img" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#articleImgCarousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#articleImgCarousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="article_container">
    <h4> {{ current_article.title }} </h4>


    {% for cur in current_article.image.all %}
    <h2> {{ cur.image.url }} </h2>
    {% endfor %}

</div>

{% endblock %}