{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
      <div class="item1">
        <img src="https://picsum.photos/250">
<!--        <img id="img1" src="{% static 'emoji1.png' %}">-->
      </div>
      <div class="item2"><img src="https://picsum.photos/250/500"></div>
      <div class="item3"><img src="https://picsum.photos/250/300"></div>
      <div class="item4"><img src="https://picsum.photos/250/350"></div>
      <div class="item5"><img src="https://picsum.photos/250/270"></div>
      <div class="item6"><img src="https://picsum.photos/250/400"></div>
      <div class="item7"><img src="https://picsum.photos/250/310"></div>
      <div class="item8"><img src="https://picsum.photos/250/450"></div>
      <div class="item9"><img src="https://picsum.photos/250/410"></div>
      <div class="item10"><img src="https://picsum.photos/250/290"></div>
      <div class="item11"><img src="https://picsum.photos/250/430"></div>
      <div class="item12"><img src="https://picsum.photos/250/480"></div>
      <div class="item13"><img src="https://picsum.photos/250/330"></div>
    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}