{% extends 'base.html' %}

{% load static %}

{% block content %}


{% if article_list %}
<div class="container">
    {% for article in article_list %}
    <a class="card_div" href="{% url 'articleapp:detail' pk=article.pk %}">
            {% include 'snippets/card.html' with article=article %}
    </a>
    {% endfor %}
</div>
<script src="{% static 'js/magicgrid.js' %}"></script>

{% include 'snippets/pagination.html' with page_obj=page_obj %}

{% else %}
<div class="container">
    <h1>No articles yet.</h1>
</div>
{% endif %}


{% endblock %}