{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}

    <div class="nanum_myeongjo accountapp_content creationForm">
        <div class="mb-5">
            <h3>Modify Article</h3>
        </div>
        <form class="createForm" action="{% url 'articleapp:update' pk=current_article.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form form_group_class='mb-5' size='small' %}

            <input class="btn btn-outline-dark rounded-pill col-4 mt-2" type="submit" >
        </form>
    </div>

{% endblock %}
