{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}

    <div class="nanum_myeongjo accountapp_content createAccountForm">
        <div class="mb-5">
            <h3>Modify Article</h3>
        </div>
        <form action="{% url 'articleapp:update' pk=current_article.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
<!--            {{ form }}-->
<!--            {% bootstrap_form form %}-->
            {% bootstrap_form form form_group_class='mb-5' size='small' %}

            {{ formset.management_form }}
            {% for f in formset %}
<!--                {{ form.as_p }}-->
                {% bootstrap_form f form_group_class='mb-2' size='small'  %}
            {% endfor %}
            <input class="btn btn-outline-dark rounded-pill col-4 mt-2" type="submit" >
        </form>
    </div>

{% endblock %}
