{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}

    <div class="nanum_myeongjo profileapp_content createProfileForm">
        <div class="mb-5">
            <h3>Make Profile</h3>
        </div>
        <form action="{% url 'profileapp:createProfile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
<!--            {{ form }}-->
            {% bootstrap_form form form_group_class='mb-5' size='small'  %}
            <input class="btn btn-outline-dark rounded-pill col-4 mt-2" type="submit" >
        </form>
    </div>

{% endblock %}

